---
import type { CollectionEntry } from 'astro:content';
import GradientPlaceholder from '@components/GradientPlaceholder.astro';

interface Props {
  project: CollectionEntry<'work'>;
}

const { data, slug } = Astro.props.project;
---

<a class='card' href={`/work/${slug}`}>
  <div class='card-image'>
    <GradientPlaceholder title={data.title} size='small' alt={data.img_alt || data.title} />
  </div>
  <div class='card-content'>
    <h3 class='title'>{data.title}</h3>
    <p class='description'>{data.description}</p>
    <div class='tech-stack'>
      {
        data.tags &&
          Array.isArray(data.tags) &&
          data.tags.map((tag) => <span class='tech-tag'>{tag}</span>)
      }
    </div>
  </div>
</a>

<style>
  .card {
    @apply flex flex-col h-auto shadow-[var(--shadow-sm)] no-underline transition-all duration-300 ease-in-out relative border border-customGray-800 bg-customGray-overlay rounded-xl overflow-hidden;
  }

  .card:hover {
    box-shadow: var(--shadow-md);
    transform: translateY(-5px);
  }

  .card-image {
    width: 100%;
    height: 180px;
    overflow: hidden;
    position: relative;
  }

  .card-image :global(.gradient-placeholder) {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: transform 0.5s ease;
  }

  .card:hover .card-image :global(.gradient-placeholder) {
    transform: scale(1.03);
  }

  .card-content {
    @apply p-5 flex flex-col flex-grow bg-customGray-overlay border-t border-customGray-800;
  }

  .title {
    @apply mb-3 text-customGray-0 text-[var(--text-lg)] font-semibold leading-[1.3];
  }

  .description {
    @apply text-customGray-300 mb-4 text-[var(--text-sm)] leading-[1.5] line-clamp-2;
  }

  .tech-stack {
    @apply flex flex-wrap gap-2 mt-auto pt-3 border-t border-customGray-800;
  }

  .tech-tag {
    @apply text-customGray-200 font-medium py-1 px-2 rounded text-[var(--text-xs)] border-l border-customGray-800;
  }

  @media (min-width: 50em) {
    .card {
      flex-direction: row;
      height: 220px;
      border-radius: 1rem;
    }

    .card-image {
      width: 40%;
      height: 100%;
      min-height: 220px;
    }

    .card-content {
      width: 60%;
      border-top: none;
      border-left: 1px solid var(--gray-800);
      padding: 1.5rem;
    }

    .title {
      font-size: var(--text-xl);
      margin-bottom: 1rem;
    }

    .description {
      font-size: var(--text-md);
      -webkit-line-clamp: 3;
      margin-bottom: 1.25rem;
    }

    .tech-tag {
      font-size: var(--text-sm);
      padding: 0.3rem 0.6rem;
    }
  }
</style>
